<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdzNBi9HkLMbgbAzc0pZ3A0BVqIcSZDVE</string>
	<key>GCM_SENDER_ID</key>
	<string>837291705741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uberclone-63e86</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-63e86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837291705741:ios:bab80abe7c9d74423f69c4</string>
</dict>
</plist>